# Application settings
APP_NAME='BTTM API'
APP_ENV='UAT'

# Sabre API Configuration
SABRE_CLIENT_ID=
SABRE_CLIENT_SECRET=
SABRE_AUTH_SECRET=
SABRE_URL=https://api.cert.sabre.com
SABRE_PCC=
SABRE_USERNAME=
SABRE_PASSWORD=