# .env file
APP_NAME = 'OTA API'
BROKER_NAME='Quant'
APP_ENV = 'LOCAL'
APP_VERSION = '1.0.0'

# MQTT configuration
MQTT_HOST = '192.168.155.22'
MQTT_PORT = 7760
MQTT_KEEPALIVE = 120
APP_ENV_MQTT="Local"
MQTT_USER="quant"
MQTT_PASS="Qts@975#"

# DB Settings:
SQLALCHEMY_ECHO=False
SQLALCHEMY_TRACK_MODIFICATIONS=False
SQLALCHEMY_ENGINE_OPTIONS={'poolclass': NullPool}

# DB Settings:
DB_HOST = '192.168.155.22'
DB_PORT = 5459
DB_USER = 'bbtmdata'
DB_PASSWORD = 'bbtm97531'
DB_NAME = 'starterdb'

# Redis Configurations
REDIS_HOST=192.168.155.22
REDIS_PORT=6456
REDIS_PASS=devpassword
REDIS_DB=1

# App Settings:
SECRET_KEY=b171368344a038f1f5b23e61bb731454
JWT_ALGORITHM=HS256
SECURITY_PASSWORD_SALT=a16f90b8ae826a3d1b751c609042a8a1
SITE_NAME=BBTM
SITE_ADDR=https://devbroker.quantbd.com/
USER_APP_NAME=BBTM
SOFTWARE_VERSION=v1.4.65

# JWT token configuration
JWT_SECRET_KEY=b171368344a038f1f5b23e61bb731458
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Websocket Settings:
WEBSOCKET_HOST=ws.quantbd.com
WEBSOCKET_PORT=7809
WEBSOCKET_ADAPTER=QTRADER_ADAPTER

# SMTP Settings:
SMTP_SERVER = "sandbox.smtp.mailtrap.io"
SMTP_PORT = '2525'
SMTP_USER = '73332bb160aaf4'
SMTP_PASSWORD = '0db21c990762d4'
SMTP_SENDER = "backoffice@quantbd.com"

# SMS Settings
SMS_URL="http://api.smsq.global/api/v2/SendSMS"
SMS_USERNAME="8809617611857"
SMS_PASSWORD=""
SMS_CLI="9d04eab9-a0a5-4738-a864-a58ce1ca19b6"
SMS_APICODE="xlpg23xcq89U3uJIwxskLikewQl1q%2BQav%2BMWIpFMnGU%3D"

# SMS and Mail settings
IS_SMS_ENABLED=1
IS_EMAIL_ENABLED=1
IS_CRED_SMS_ENABLED=1
IS_CRED_EMAIL_ENABLED=1